.header{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	font-size: 3em;
}

.underline blockquote{
	text-align: justify;
}
.first{
	font-size: 1em;
	font-style: italic;

	
}

.second{
	font-size: .8em;
	
}
.container{
	display: flex;
	flex-direction: row;
}
.col1, .col2{
	padding: 10px;
	/* text-align: justify; */
}

h2{
	font-weight: 200;
}
.underline{
	text-align: center;
}